# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;database=vrp_dunko;userid=root;"
set playernames_svTemplate "[{{id}}] {{firstname}} {{name}}"
set playernames_template "{{serverName}}"


sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "8xcpz8mms2eksx5ksqh8nqb3t5gt2p8o"
sv_hostname "TestServer"
sets sv_projectName "TestServer"
sets sv_projectDesc "TestServer"
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure gm_npc

ensure mysql-async
ensure playernames

#vrp
ensure ghmattimysql
ensure vrp_mysql
ensure vrp
ensure vrp_playernames
ensure vrp_basic_mission
ensure vrp_barbershop
ensure vrp_carwash
ensure vrp_loadfreeze
ensure vRP_AdvancedFuel
ensure vrp_job_display
ensure vrp_bankrobbery
ensure vrp_basic_menu
ensure vrp_barrier
ensure vrp_TruckerJob
ensure vrp_ubermission
ensure vrp_fixdvcar
ensure vrp_hotkeys
ensure vrp_doors
ensure railhouse
ensure online
ensure bob74_ipl
ensure pvp
ensure Ped


#custom
ensure map
ensure VK_interiors
ensure ThereMap
ensure indicators
ensure simeonfix
ensure pNotify
ensure lux_vehcontrol
ensure lscustoms
ensure BrockALPR
ensure RealisticVehicleFailure
ensure warmenu

#condensed scripts (non-vrp)
ensure CustomScripts

#Keep this here, it stops some errors
restart sessionmanager

exec resources/vMenu/config/permissions.cfg
add_ace group.admin "vMenu.Everything" allow
setr vmenu_bans_database_filepath "resources/vMenu/"
ensure vMenu

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:874942 group.superadmin #Eichenholz
